<div class="menu" onclick="OpenPopUp()">
    <div class="menuIcon">
        <div class="menubar"></div>
        <div class="menubar"></div>
        <div class="menubar"></div>

    </div>
    <p class="menuText">MENU</p>
</div>

<div id="popUp">
    <div class="navMobile">

        <p class="closeNavMobile" onclick="hidePopUp()">x</p>
        <a href="/">Home</a>

        <% if(loggedIn) { %>
            <a href="/postNewBlog">Post new blog</a>
            <% } %>

                <% if(!loggedIn) { %>
                    <!-- <a href="/Signup">Sign up</a> -->
                    <a href="/Login">Sign In</a>
                    <% } %>
                        <a href="/logout">Sign out</a>
    </div>
</div>

<nav class="nav" id="nav">
    <div class="topnav">
        <div class="icon">
            <img width="60px" height="60px"
                src="https://cdn-icons.flaticon.com/png/512/534/premium/534621.png?token=exp=1635766489~hmac=1b8b46c55945c99234f7a9fb2a424841" />
        </div>

        <a href="/">Home</a>

        <% if(loggedIn) { %>
            <a href="/postNewBlog">Post new blog</a>
            <% } %>

                <% if(!loggedIn) { %>
                    <!-- <a href="/Signup">Sign up</a> -->
                    <a href="/Login">Sign In</a>
                    <% } %>
                        <a href="/logout">Sign out</a>

                        <a class="socialMedia" href="https://www.linkedin.com/in/jerryqchen/?originalSubdomain=sg"
                            target="_blank">
                            <img src="/images/linkedin.png" width="30px">
                        </a>

                        <!-- <img src="images/facebook.png" width="30px"> -->


</nav>