

    <div class="menu" onclick="OpenPopUp()">
        <div class="menuIcon">
            <div class="menubar"></div>
            <div class="menubar"></div>
            <div class="menubar"></div>

        </div>
        <p class="menuText">MENU</p>
    </div>

    <div id="popUp">
        <div class="navMobile">

            <p class="closeNavMobile" onclick="hidePopUp()">x</p>
            <a href="/">Home</a>

            <% if(loggedIn) { %>
            <a href="/postNewBlog">Post new blog</a>
            <% } %>
            
            <% if(!loggedIn) { %>
            <!-- <a href="/Signup">Sign up</a> -->
            <a href="/Login">Log In</a>
            <% } %>
            <a href="/logout">Log out</a>
        </div>
    </div>

    <nav>
        <div class="topnav">

            <a href="/">Home</a>

            <% if(loggedIn) { %>
            <a href="/postNewBlog">Post new blog</a>
            <% } %>
            
            <% if(!loggedIn) { %>
            <!-- <a href="/Signup">Sign up</a> -->
            <a href="/Login">Log In</a>
            <% } %>
            <a href="/logout">Log out</a>
        </div>

    </nav>

    
    <div class="socialMedia">
        <a href="https://www.linkedin.com/in/jerryqchen/?originalSubdomain=sg"
         target="_blank"    
        >
            <img src="/images/linkedin.png" width="30px">
        </a>
        
        <!-- <img src="images/facebook.png" width="30px"> -->
    </div>
