
        <script>
            function OpenPopUp() {
                document.getElementById("popUp").style.display = "block";
            }

            function hidePopUp() {
                document.getElementById("popUp").style.display = "none";
            }

            var today = new Date();
            year = today.getFullYear();
            document.getElementById("copy").innerHTML = '<p>Copyright &copy;' + year + '</p>';

        </script>