<!-- {! and enter to get basic html} -->

<!DOCTYPE html>
<html lang="en">

<!-- header -->
<%- include('layouts/header'); -%>

    <body>

        <div id="containerLogin">

            <div class="banner bannerHeightLogin">
                <!-- navigation -->
                <%- include('layouts/navbar'); -%>

            </div>
            <div class="loginForm">
                <p class="blogBody whiteText">This sign in page is primarily for the author of this blog.</p>
                <fieldset>
                    <legend>Login</legend>
                    <form action="/users/login" method="POST">
                        <input type="text" name="username" placeholder="username" />
                        <input type="password" name="password" placeholder="password" />
                        <br>
                        <button class="loginButton" type="submit">Sign In</button>
                    </form>

                </fieldset>


            </div>
            <!-- footer -->
            <%- include('layouts/footer'); -%>

        </div>




        </div>
        <!-- script -->
        <%- include('layouts/script'); -%>
    </body>

</html>