<!-- {! and enter to get basic html} -->

<!DOCTYPE html>
<html lang="en">

<!-- header -->
<%- include('layouts/header'); -%>

    <body>

        <div id="container">

            <div class="banner" style="background-image: url('/images/FrontBanner.jpeg');">
                <!-- navigation -->
                <%- include('layouts/navbar'); -%>
            </div>

            <div class="form">
                <fieldset>
                    <legend>Register a new account</legend>
                    <form action="/users/register" method="POST">
                        <p>username:</p>
                        <input type="text" name="username" placeholder="username"/>

                        <p>password:</p>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="submit">Sign up</button>
                    </form>

                </fieldset>


            </div>
            <!-- footer -->
            <%- include('layouts/footer'); -%>

        </div>

        <!-- script -->
        <%- include('layouts/script'); -%>
            </div>

    </body>

</html>