.blogpost {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: primaryBlogText;
  width: 100%;
}

.postedBy {
  color: rgb(33, 16, 41);
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(223, 223, 223);
  /* width: 40%; */
  font-style: italic;
  /* background: rgb(211, 211, 211); */
  background: linear-gradient(to left, #40bbfe, #e40246);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.blogTitle {
  margin-top: 100px;
  color: rgb(7, 7, 7);
}
