.newBlogForm {
  margin-top: 100px;
  background-color: rgb(220, 245, 255);
  padding: 40px;
  /* border-radius: 12px; */
  width: 600px;
  text-align: left;
}

.loginForm {
  margin-top: 60px;
  background-color: rgb(16, 16, 16);
  opacity: 0.9;
  padding: 40px;
  /* border-radius: 12px; */
  width: 60%;
  text-align: center;
  border-radius: 20px;
  border: 3px solid white;
}

// @media only screen and (max-width: 300px){
//   .loginForm
// }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerHeightLogin {
  height: 30px;
}

#containerLogin {
  margin: 0px 10px 0px 10px;
  background-color: turquoise;
  @include columnCenter();
  z-index: 0;
  height: 100%;
  /* border-radius: 0 0 50% 50%; */
}

input {
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
}

#container {
  margin: 0px 10px 0px 10px;
  background-color: rgb(230, 230, 230);
  @include columnCenter();
  z-index: 0;
  height: 100%;
  /* border-radius: 0 0 50% 50%; */
}

fieldset {
  border: 1px solid rgb(77, 109, 106);
  border-radius: 10px;
}
legend {
  background: linear-gradient(to left, #40bbfe, #e40246);
  border-radius: 12px;
  font-size: x-large;
  padding: 10px 30px 10px 30px;
  text-align: left;
  color: white;
  border: 3px solid white;
}

.loginButton {
  margin-top: 30px;
  background: black;
  color: white;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  font-size: large;
  &:hover {
    transform: scale(1.1);
  }
}

.whiteText {
  color: white;
}
