.pageContent {
  line-height: 2em;
  width: 40%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  box-shadow: $boxShadow;
  padding-top: 10px;
}

.blogposts {
  /* border-top: 1px solid grey; */
  text-align: center;
  font-family: inherit;
  /* border: 1px solid grey; */
  /* background: rgb(244, 255, 239); */
  border-radius: 20px;
  box-shadow: $boxShadow;
  a {
    text-decoration: none;
    font-weight: inherit;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.cardTitle {
  color: rgb(254, 254, 254);
  padding: 10px;
}

@media only screen and (max-width: 700px) {
  .pageContent {
    width: 80%;
  }
}
