/* import an font style */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

$primaryBlogText: "Roboto", sans-serif;
$secondaryText: "Julius Sans One", sans-serif;
$curvyText: "Dancing Script", cursive;
$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
@mixin columnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import "./navBar";
@import "./banner";
@import "./form";
@import "./mobileNavBar";
@import "./footer";
@import "./pageContent";
@import "./blog";

body {
  margin: 0;
  font-family: $primaryBlogText;
  text-align: center;
}

#container {
  margin: 0px 10px 0px 10px;
  background-color: rgb(252, 252, 252);
  @include columnCenter();
  z-index: 0;
  height: 100%;
  /* border-radius: 0 0 50% 50%; */
}

.blogBody {
  font-weight: lighter;
  padding: 10px;
}

/* must define background-size cover in the outer div of the image */
